<div class="container">
  <h2 class="center">Your aim was already achieved!</h2>
  <blockquote>
  <h1>your account was previosly activated</h1>
  </blockquote>
  <p class="center"><img src="cid:email.img"/></p>
  <p class="center small">Please note: This e-mail was sent from address
  that cannot accept incoming e-mail. Please do not reply to this message.</p>
</div>
