<div class="container">
  <h2 class="center">Congratulation</h2>
  <h3 class="center">Welcome to Da-Mi!</h3>
  <blockquote>
  <h1>Your account was activated</h1>
  <p>To enjoy application follow this<a href='https://da-mi.ga'> link </a>. </p>
  </blockquote>
  <p class="center"><img src="cid:email.img"/></p>
  <p class="center small">Please note: This e-mail was sent from address
  that cannot accept incoming e-mail. Please do not reply to this message.</p>
</div>
