<div class="container">
  <h2 class="center">Reset password</h2>
  <p class="center">Hello {{firstname}} {{lasttname}}!</p>
  <blockquote>
    <p>Follow this <a href={{url}} > link </a>to reset password ... </p>
  </blockquote>
  <img src="cid:email.img"/>
  <p class="center small">Please note: This e-mail was sent from a notification-only address
    that cannot accept incoming e-mail. Please do not reply to this message.</p>
</div>
