<div class="container">
	<h2 class="center">Activation</h2>
	<p class="center">Hello {{firstname}} {{lasttname}}!</p>
	<blockquote>
		<p>Thank you for registration.</p>
		<p>To activate your account please follow this<a href={{url}}> link </a>. </p>
	</blockquote>
  <img class="center" src="cid:bonsai@kreata.ee"/>
	<p class="center small">Please note: This e-mail was sent from a notification-only address that cannot accept incoming e-mail. Please do not reply to this message.</p>
</div>
