<div class="container">
  <h2 class="center">Ups!</h2>
  <h3 class="center">Sorry, {{firstname}} {{lastname}}!</h3>
  <blockquote>
  <h1>your account was not activated</h1> 
  <h3>this user is not create yet!</h3>
  </blockquote>
  <p class="center"><img src="cid:email.img"/></p>
  <p class="center small">Please note: This e-mail was sent from address
  that cannot accept incoming e-mail. Please do not reply to this message.</p>
</div>
