<div class="container">
  <h2 class="center">Problem</h2>
  <p class="center">{{firstname}} {{lastname}} has some problem with aplication</p>
  <blockquote>
    <p>Description: {{text}}</p>
    <p>Contact email: {{mailsForSupport}}</p>
  </blockquote>
  <p class="center"><img src="cid:email.img"/></p>
</div>