<div class="container">
  <h2 class="center">Comment Reply Notification</h2>
  <p class="center">Hello {{firstName}} {{lastName}}!</p>
  <blockquote>
    <p>Someone replied to your comment on www.da-mi.ga to the gift - "{{giftName}}". </p>
    <p>You can reply to it by following this<a href={{url}}> link </a>. </p>
  </blockquote>
  <p class="center"><img src="cid:email.img"/></p>
  <p class="center small">Please note: This e-mail was sent from a notification-only address
    that cannot accept incoming e-mail. Please do not reply to this message.</p>
</div>
